<div class="applicant-container-individual">

  <div class="applicant-header">
    <h3 class="col-sm-6 applicant-name">Name: <span>{{applicant.name}}</span></h3>
    <div class="col-sm-6 favorite-container">
      <button class="btn-favorite" (click)="setFavorite()">
        <span [class.active]=isFavorited class="fa fa-star fa-3x"></span>
        <span [class.active]=!isFavorited class="fa fa-star-o fa-3x"></span>
      </button>
    </div>
  </div>
  
  <div class="details-container">
    <h4>Applicant Details</h4>
    <div class="col-sm-6 details-section">
      <div class="field">
        <span class="label">Position</span>
        <span class="body">{{applicant.position}}</span>
      </div>
      <div class="field">
        <span class="label">Applied</span>
        <span class="body">{{applicant.applied}}</span>
      </div>
      <div class="field">
        <span class="label">Experience</span>
        <span class="body">{{applicant.experience}}</span>
      </div>
    </div>
    
    <div class="col-sm-6 availability">
      <h4>Availability</h4>
        <app-datatable
        [columns]=columns
        [dataset]=applicant.availability>
      </app-datatable>
    </div>

    <div class="questions">
      <span class="label">Questions</span>
      <ul>
        <li *ngFor="let ques of applicant.questions">
          <span class="question-body">{{ques.text}}</span>
          <span class="question-answer">{{ques.answer}}</span>
        </li>
      </ul>
    </div>
  </div>
</div>

