.applicant-container,
.applicant-container-individual {
  background: white;
  height: auto;
  padding: 20px;
  overflow: hidden;
}

.applicant-container-individual .label {
  color: black;
  font-size: 1.1em;
  line-height: 2;
  padding: 0;
}

.applicant-container-individual ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.applicant-container-individual .applicant-header {
  height: 100px;
}

.applicant-container-individual .favorite-container {
  position: relative;
  width: 100px;
}

.applicant-container-individual .applicant-name {
  border-bottom: 1px solid lightgrey;
}

.applicant-container-individual .favorite-container button {
  background: transparent;
  border: none;
  height: 50px;
  outline: none;
  width: 50px;
}

.applicant-container-individual .favorite-container button:active {
  transform: translateX(1px) translateY(1px);
}

.applicant-container-individual .favorite-container button span {
  opacity: 0;
  position: absolute;
  top: 0;
  transition: all 0.2s ease-in-out;
}

.applicant-container-individual .favorite-container button span.active {
  opacity: 1;
}
