:root {
  --mainColor: #004190;
  --av-dark-blue: #041972;
}

body,
html {
  height: 100%;
  width: 100%;
}

body {
  background-color: var(--mainColor);
}

.center-fix {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.main-spinner {
  font-size: 3em;
}

@import 'app/applicant/applicant.css';
@import 'app/components/datatable/datatable.css';
